
<div nz-row>
  <div nz-col nzSpan="12">Elige y disfruta de nuestros últimos diseños en retablos, solamente debes seleccionar el estilo que más te guste (tríptico, díptico, retablo de 5 o retablo sencillo) estos son hechos en madera de 9 mm de grueso impresos en papel fotográfico, deben limpiarse con trapo seco. Recomendamos revisar medidas del espacio donde se van a colgar para que puedas seleccionar de mejor forma el tamaño que quieras comprar.

   </div>
  <div nz-col nzSpan="12">
    <p>Estos retablos manejan una excelente calidad en cuanto a materiales, puesto que la madera no se va a deteriorar y la mayoría de las impresiones le permitirá limpiarla garantizando la calidad de la imagen. Pixelart tiene el placer de ofrecerle la posibilidad de adquirir cualquier obra de arte, pintura o retrato que siempre deseó, a un precio muy económico y en la mejor calidad</p>


  </div>
</div>

<div>

  <a href="https://instagram.com/digitalart_one?igshid=11hsl977m2kti" target="_blank"><img src="assets/img/12.png" ></a>
  <a href="https://www.facebook.com/enespanol/" target="_blank"><img src="assets/img/f1.png" ></a>
  <a href="https://twitter.com/?lang=es" target="_blank"><img src="assets/img/t1.png" ></a>

</div>
